<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">
	<insert id="insertBoard" parameterType="board">
		INSERT INTO examboard (
			board_seq,
			reg_id,
			Board_content,
			Board_pw,
			Board_dt,
			Board_updt,
			Board_title
			) VALUES (
			'seed'||TO_CHAR(NOW(),'yyyymmdd')||LPAD(NEXTVAL('seq_board_num')::TEXT,8,'0')
			,#{reg_id}
			,#{board_content}
			,#{board_pw}
			,transaction_timestamp()
			,transaction_timestamp()
			,#{board_title}
			)
	</insert>
	<select id="getBoardList" resultType="board">
		SELECT BOARD_SEQ
			   ,BOARD_TITLE
			   ,reg_id
			   ,TO_CHAR(BOARD_DT, 'yyyy-mm-dd hh:mi:ss') AS BOARD_DT
			   ,ROW_NUMBER() OVER (ORDER BY BOARD_DT ASC) AS RNUM
		  FROM EXAMBOARD
		  ORDER BY RNUM DESC
	</select>
	<select id="getBoard" parameterType="board" resultType="board">
		SELECT
			BOARD_SEQ
			,BOARD_TITLE
			,TO_CHAR(BOARD_DT, 'yyyy-mm-dd hh:mi:ss') AS BOARD_DT
			,reg_id
			,BOARD_CONTENT
		FROM 
			EXAMBOARD
		WHERE 
			BOARD_SEQ=#{board_seq}
	</select>
</mapper> 